.time {
  display: flex;
  flex-direction: column;
  padding: 32px;
  position: relative;
  background-image: url("/images/fundo.png");
  background-position: center;
  background-repeat: repeat;
  background-blend-mode: exclusion;

  &__color {
    position: absolute;
    top: 20px;
    right: 50px;
    block-size: 24px;
    inline-size: 40px;
    margin: 0;
    padding: 0;
  }

  &__cardWrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }

  h3 {
    color: #212121;
    font-weight: 400;
    text-align: center;
    font-size: 32px;
    padding-bottom: 8px;
  }

  h3::after {
    content: "";
    width: 32px;
    height: 4px;
    background-color: var(--bg-time-color);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 12px;
    border-radius: 4px;
  }
}
